.cabecalho__container {
  display: flex;
  background-color: var(--preto);
  padding: 20px 22px;
  justify-content: space-between;
  align-items: center;
}

/* MENU HAMBURGUER */

.menu__botao {
  width: 1.25rem;
  height: 1.25rem;
  border: 0;
  background-color: transparent;
  background-image: url('../assets/nav/abrir.svg');
  background-repeat: no-repeat;
  /* background-size: 80% 80%; */
  background-position: center;
  z-index: 2;
}

.menu__nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4rem 1.5rem 1rem 1.5rem;
  z-index: 1;
}

.menu-active {
  background-color: #343a40;
  z-index: 1;
}

.menu__nav__lista {
  display: inline-flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  align-items: stretch;
  gap: 0.75rem;
  border-radius: 5px;
}

.nav__item {
  list-style: none;
  border-bottom: 1px white solid;
  padding-bottom: 1rem;
}

.nav__item:nth-of-type(4) {
  border-bottom: none;
  padding-bottom: 0.25rem;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.nav__item:hover a {
  color: var(--amarelo);
}

@media screen and (min-width: 765px) {
  .cabecalho__container {
    gap: 20px;
  }
  /* MENU DE NAVEGAÇÃO */
  .menu__botao {
    display: none;
  }

  .menu__nav {
    display: block;
    position: relative;
    padding: 0;
  }

  .menu__nav__lista {
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: none;
    gap: 20px;
  }

  .nav__item,
  .nav__item:nth-of-type(4) {
    border: none;
    padding: 0;
  }
}

@media screen and (min-width: 1439px) {
  .cabecalho__container {
    justify-content: flex-start;
    gap: 40px;
  }
  .menu__nav__lista {
    gap: 40px;
  }
}
