.facilidades {
  background-color: var(--preto);
  color: white;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facilidades__introducao {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

.facilidades__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 32px;
}

.facilidades__item {
  display: inline-flex;
  gap: 24px;
  align-items: flex-start;
}

.facilidades__imagem {
  width: 56px;
  height: 56px;
}

.facilidades__texto {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.facilidades__titulo {
  text-transform: uppercase;
  color: var(--amarelo);
  font-size: 16px;
  font-weight: 700;
}

.facilidades__descricao {
  font-size: 13px;
}

@media screen and (min-width: 1440px) {
  .facilidades__container {
    flex-direction: row;
  }
}
