.newsletter {
  padding: 10%;
  text-align: center;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: 2px solid var(--preto);
  gap: 16px;
}

.newsletter__texto {
  font-size: 16px;
  line-height: 23px;
}

/* .newsletter__form {
  display: flex;
  justify-content: center;
} */

#newsletter__input {
  border: 1px solid var(--preto);
  border-right: none;
  border-radius: 0;
}

/* #email-newsletter {
  font-size: 16px;
  line-height: 23px;
} */

.newsletter__button {
  background-color: var(--roxo);
  color: white;
  border: none;
  padding: 9px 16px;
  /* align-self: flex-start; */
  /* margin-left: 16px;
  margin-bottom: 16px; */
}

/* MODAL */
.modal-news__header {
  display: flex;
  background-color: var(--preto);
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 765px) {
  .newsletter__texto {
    font-size: 20px;
  }
}
